@import '../variables';


.categoriesContainerMain{
  
    scrollbar-width: none;
    overflow-x:auto;
   
    
    &::-webkit-scrollbar {
        display: none;
      }
    .categoriesContainer{
        padding: 0 64px;
        display: flex;
        justify-content: space-between; /* Change to flex-start to allow content to extend beyond container width */
        list-style: none;

        .CategoryListItems{
            border: 0.5px solid rgb(194, 194, 194);
            padding: 30px;
            max-width: 100px;
            border-radius: 5px;
            min-width: 100px;
            margin-left: 8px;


            .categoryLogo{
                background-color: $primaryColor;
                height: 45px;
                width: 45px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $secondaryColor;
            }

            p{
                font-size: map-get($fontSize, small );
            }

            &:hover{
                cursor: pointer;
                transition: all 0.2s ease-in;
                box-shadow: 5px 5px $primaryColor inset;
                
            }
        }
       
    }
    
}

@media screen and (max-width:425px) {
    .categoriesContainerMain{
        .categoriesContainer{
            padding: 0 16px;

            .CategoryListItems{
                padding: 15px;
            }
        }
    }
}

 