@import '../variables';

.paymentMethod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;

    h3{
        width: 100%;
        margin-left: 20px;
        text-align: left;
    }
    p{
        width: 100%;
        margin-left: 20px;
        text-align: left;
        margin-top: -10px;
    }

    .radio{
        border: 1px solid $textColor;
        padding: 10px;
        font-size: map-get($fontSize, large );
        justify-content: space-around;
        align-items: center;
        display: flex;
        margin-top: 12px;
        width: 60%;

        span{
            font-size: map-get($fontSize, small );
        }
        h5{
            text-decoration: none;
            
        }
        h3{
            margin: 0px;
            margin-top: 4px;
        }
    }
}

@media screen and (max-width:425px) {
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 20px;
    
        h3{
            width: 100%;
            margin-left: 20px;
            text-align: left;
        }
        p{
            width: 100%;
            margin-left: 20px;
            text-align: left;
            margin-top: -10px;
        }
    
        .radio{
            border: 1px solid $textColor;
            padding: 10px;
            font-size: map-get($fontSize, large );
            justify-content: space-around;
            align-items: center;
            display: flex;
            margin-top: 12px;
            width: 100% !important;
        }
    }
}