@import '../variables';

.addAddressBtn{
    background-color: $primaryColor;
    color: $secondaryColor;
    width: 400px;
    padding:10px;
    border: none;
    margin-bottom: 24px;

}

@media screen and (max-width:425px) {
    .addAddressBtn{
        width: 200px;
      
    }
  }