@import '../variables';

.paymentOtionsContainer{
    margin-top: 128px;
    padding: 0 300px;

    .paymentMethodsContainer{
        padding: 10px;
        background-color: rgb(234, 234, 234);

       
        

    }
}
