@import '../variables';



.carouselContainer{
    padding: 0 64px;
    margin-top: 110px;

    h5{
        margin:  0 12px;
        margin-top: 12px;
        color: $textColor;
    }
}

.owlContainer{
    margin-top: 12px;
    
    .item{
        gap: 12px;
        margin-left: 12px;
    }

    img{
        height: 250px;
        object-fit: cover;
    }

}

@media screen and (max-width:425px) {
    .carouselContainer{
        padding: 0 12px;
    }
}